body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u212 {
  position:absolute;
  left:200px;
  top:0px;
  width:450px;
  height:800px;
}
#u213 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  position:absolute;
  left:395px;
  top:207px;
  width:57px;
  height:24px;
}
#u215 {
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
